<div class="welcome-screen">
    <div class="app-title">
        <span class="shake">&#9835;</span>
        <span class="app-name" style="display: block;">
            <span>{{appName}}<span class="blink">|</span></span>
        </span>
    </div>
    <div class="action-btns">
        <button class="btn btn-app" ng-class="{'box-shadow-active': projectMode === 'NEW'}" ng-click="projectMode = 'NEW'">Create
            New Project</button>
        <button class="btn btn-app" ng-class="{'box-shadow-active': projectMode === 'LOAD'}" ng-click="projectMode = 'LOAD'">Load
            Recent Project</button>
    </div>
    <div class="action-div">
        <div ng-if="projectMode === 'NEW'">
            <label>Enter a name:</label>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Enter Project Name" ng-model="newProjectName" />
                <span class="btn input-group-addon" ng-click="startProject(newProjectName);">Start</span>
            </div>
        </div>
        <div ng-if="projectMode === 'LOAD'">
            <label>Select a project:</label>
            <div class="input-group">
                <select class="form-control" ng-model="selectedProject">
                    <option value="">-Select-</option>
                    <option ng-repeat="proj in allProjects" value="{{proj}}">{{proj}}</option>
                </select>
                <span class="btn input-group-addon" ng-click="loadProject(selectedProject);">Start</span>
            </div>
        </div>
    </div>
    <div style="height: 100px;">
        &nbsp;
    </div>
</div>
<script>
    $(document).ready(function () {
        $(window).on('resize', function () {
            $('.welcome-screen').height(Math.max($(window).innerHeight(), $(document).innerHeight()));
        });
        $('.welcome-screen').height(Math.max($(window).innerHeight(), $(document).innerHeight()));
    });
</script>