<style>
    .channel-row {
        color: #002101;
        margin-bottom: 10px!important;
    }
    .audio-channels{
        margin-top: 60px;
    }
    .time-input{
     width: 80px;
     height: 25px;
}
.row.inline-options{
    margin-left: 40px;
    margin-bottom: 10px;
}
.inline-options > div {
    display: inline-block;
    margin-right: 20px;
    text-align: center;
}
.badge{
    cursor: pointer;
}

.project-header{
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0px;
    left: 0px;
    margin: 0px;
    border-radius: 0px;
}
.player-control{
    position: absolute;
    left: 0px;
    right: 0px;
}
.player-control > span{
    display: inline-block;
    background: #333940;
    padding: 0px 50px;
    border-radius: 5px;
}
.player-control > span > i{
    cursor: pointer;
    color: #a7a4a4;
}
.player-control > span > i.active{
    color: #fff;
}
</style>
<!--
    TODO: Add tool-tips
-->
<div ng-controller="SynthV2Ctrl" class="syntheziser">
    <div class="project-header text-center">
        <div style="position: relative;">
            <span>Synthesizer 2.0</span>
            <div class="player-control">
                <span>
                    <i class="fa fa-play-circle" title="Play" ng-class="{'active': SynthV2Factory.currentContext.state === 'running'}"
                        ng-click="play()"></i>
                    &nbsp;
                    <!-- <i class="fa fa-pause-circle" ng-click="pause()"></i> -->
                    <i class="fa fa-stop-circle" title="Stop" ng-class="{'active': !SynthV2Factory.currentContext || SynthV2Factory.currentContext.state !== 'running'}"
                        ng-click="stop()"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="audio-channels">
        <div class="jumbotron channel-row" ng-repeat="channel in currentProject.channels" style="margin: auto;background-color: #818481;padding: 15px;">
            <div>
                <div>
                    <b>#{{$index + 1}}</b>
                    <span ng-click="deleteChannel($index)" class="float-right text-warning" style="cursor: pointer;">Remove
                        Channel</span>
                </div>
                <div>
                    <div class="row inline-options">
                        <div>
                            <label>Source</label>
                            <div>
                                <select class="time-input" ng-model="channel.type">
                                    <option value="osc">Oscillator</option>
                                    <option value="noise">Noise</option>
                                    <option value="external">External</option>
                                    <option value="upload">Upload</option>
                                </select>
                            </div>
                        </div>
                        <div ng-if="channel.type === 'osc'">
                            <label>Wave type</label>
                            <div>
                                <select class="time-input" ng-model="channel.wave">
                                    <option>sine</option>
                                    <option>square</option>
                                    <option>sawtooth</option>
                                    <option>triangle</option>
                                </select>
                            </div>
                        </div>
                        <div ng-if="channel.type === 'osc'">
                            <label>Frequency</label>
                            <div>
                                <input class="time-input" restrict-scroll type="number" min="0" ng-model="channel.frequency" />
                            </div>
                        </div>
                        <div ng-if="channel.type === 'osc'">
                            <label>Detune</label>
                            <div>
                                <input class="time-input" restrict-scroll type="number" ng-model="channel.detune" />
                            </div>
                        </div>
                        <div ng-if="channel.type === 'external'">
                            <label>URL (mp3/wav)</label>
                            <div>
                                <input class="time-input" type="text" ng-model="channel.url" style="width: 400px;" />
                                <a style="text-decoration: underline;cursor: pointer;" ng-click="exportAudioFromURL(channel)">Export</a>
                            </div>
                        </div>
                        <div ng-if="channel.type === 'upload'">
                            <label>Upload a File</label>
                            <div>
                                <div class="btn btn-app-color btn-sm time-input" ngf-select="parseFile(channel, $file);"
                                    ng-model="file" name="file" ngf-pattern="'audio/*'" ngf-accept="'audio/*'"
                                    ngf-max-size="10MB">Upload</div>
                                <span class="text-info">{{channel.fileName}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row inline-options">
                        <div>
                            <label>Delay</label>
                            <div>
                                <input class="time-input" restrict-scroll type="number" min="0" ng-model="channel.delay" />
                            </div>
                        </div>
                        <div>
                            <label>Starts After</label>
                            <div>
                                <input class="time-input" restrict-scroll type="number" min="0" ng-model="channel.startAfter" />
                            </div>
                        </div>
                        <div>
                            <label>Duration</label>
                            <div>
                                <input class="time-input" restrict-scroll type="number" min="0" ng-model="channel.duration" />
                            </div>
                        </div>
                        <div>
                            <label>Mute</label>
                            <div>
                                <span class="badge badge-success" ng-if="channel.mute" ng-click="channel.mute = false;">ON</span>
                                <span class="badge badge-danger" ng-if="!channel.mute" ng-click="channel.mute = true;">OFF</span>
                            </div>
                        </div>
                        <div>
                            <label>Repeat</label>
                            <div>
                                <span class="badge badge-success" ng-if="channel.loop" ng-click="channel.loop = false;">ON</span>
                                <span class="badge badge-danger" ng-if="!channel.loop" ng-click="channel.loop = true;">OFF</span>
                            </div>
                        </div>
                        <div ng-if="channel.loop">
                            <label>Repeat till</label>
                            <div>
                                <input class="time-input" restrict-scroll type="number" min="0" ng-model="channel.limitRepeatSec" />
                                sec(s)
                                &nbsp;or after&nbsp;
                                <input class="time-input" restrict-scroll type="number" min="0" ng-model="channel.limitRepeatCount" />
                                times
                            </div>
                        </div>
                    </div>
                    <div class="row inline-options">
                        <div>
                            <label style="margin-bottom: 0px;">Master volume</label>
                            <div>
                                {{channel.masterVolume}}
                            </div>
                            <div class="container" circular-range model="channel.masterVolume" min="0" max="1" step="0.01"></div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-3">
                            <b>ADSR timing</b>
                            <span class="badge badge-success" ng-if="channel.gain.enabled" ng-click="channel.gain.enabled = false;">ON</span>
                            <span class="badge badge-danger" ng-if="!channel.gain.enabled" ng-click="channel.gain.enabled = true;">OFF</span>
                        </div>
                        <div class="col-2">
                            <b><label>Total Time: {{channel.gain.gainDuration}}</label></b>
                        </div>
                        <div class="col-3">
                            <label><b>Filter</b></label>
                            <select class="time-input" ng-model="channel.filter.type">
                                <option>lowpass</option>
                                <option>highpass</option>
                                <option>bandpass</option>
                            </select>
                            <span class="badge badge-success" ng-if="channel.filter.enabled" ng-click="channel.filter.enabled = false;">ON</span>
                            <span class="badge badge-danger" ng-if="!channel.filter.enabled" ng-click="channel.filter.enabled = true;">OFF</span>
                        </div>
                        <div class="col-4">
                            <b><label>Effects</label></b>
                            <span class="badge badge-success" ng-if="channel.effects.enabled" ng-click="channel.effects.enabled = false;">ON</span>
                            <span class="badge badge-danger" ng-if="!channel.effects.enabled" ng-click="channel.effects.enabled = true;">OFF</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <div class="row inline-options" style="display: inline-block;">
                                <div>
                                    <label style="margin-bottom: 0px;">Attack</label>
                                    <div>
                                        {{channel.gain.a}}
                                    </div>
                                    <div class="container" circular-range model="channel.gain.a" min="0" max="2" step="0.01"></div>
                                </div>
                                <div>
                                    <label style="margin-bottom: 0px;">Decay</label>
                                    <div>
                                        {{channel.gain.d}}
                                    </div>
                                    <div class="container" circular-range model="channel.gain.d" min="0" max="2" step="0.01"></div>
                                </div>
                                <div>
                                    <label style="margin-bottom: 0px;">Sustain</label>
                                    <div>
                                        {{channel.gain.s}}
                                    </div>
                                    <div class="container" circular-range model="channel.gain.s" min="0" max="1" step="0.01"></div>
                                </div>
                                <div>
                                    <label style="margin-bottom: 0px;">Release</label>
                                    <div>
                                        {{channel.gain.r}}
                                    </div>
                                    <div class="container" circular-range model="channel.gain.r" min="0" max="2" step="0.01"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="row inline-options" style="display: inline-block;">
                                <div>
                                    <label style="margin-bottom: 0px;">Frequency</label>
                                    <div>
                                        {{channel.filter.frequencyValue}}
                                    </div>
                                    <div class="container" circular-range model="channel.filter.frequencyValue" min="0"
                                        max="1" step="0.01"></div>
                                </div>
                                <div>
                                    <label style="margin-bottom: 0px;">Quality</label>
                                    <div>
                                        {{channel.filter.qualityValue}}
                                    </div>
                                    <div class="container" circular-range model="channel.filter.qualityValue" min="0"
                                        max="1" step="0.01"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row inline-options" style="display: inline-block;">
                                <div>
                                    <label style="margin-bottom: 0px;">Bass</label>
                                    <div>
                                        {{channel.effects.bass}}
                                    </div>
                                    <div class="container" circular-range model="channel.effects.bass" min="0" max="1"
                                        step="0.01"></div>
                                </div>
                                <div>
                                    <label style="margin-bottom: 0px;">Treble</label>
                                    <div>
                                        {{channel.effects.treble}}
                                    </div>
                                    <div class="container" circular-range model="channel.effects.treble" min="0" max="1"
                                        step="0.01"></div>
                                </div>
                                <div>
                                    <label style="margin-bottom: 0px;">Distortion</label>
                                    <div>
                                        {{channel.effects.distortion}}
                                    </div>
                                    <div class="container" circular-range model="channel.effects.distortion" min="0"
                                        max="1" step="0.01"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-3">
                            <b>Modulation</b>
                            <span class="badge badge-success" ng-if="channel.modulation.enabled" ng-click="channel.modulation.enabled = false;">ON</span>
                            <span class="badge badge-danger" ng-if="!channel.modulation.enabled" ng-click="channel.modulation.enabled = true;">OFF</span>
                        </div>
                    </div>
                    <div class="row inline-options">
                        <div>
                            <label>Wave type</label>
                            <div>
                                <select class="time-input" ng-model="channel.modulation.wave">
                                    <option>sine</option>
                                    <option>square</option>
                                    <option>sawtooth</option>
                                    <option>triangle</option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <label>Frequency</label>
                            <div>
                                <input class="time-input" restrict-scroll type="number" min="0" ng-model="channel.modulation.frequency" />
                            </div>
                        </div>
                        <div>
                            <label>Detune</label>
                            <div>
                                <input class="time-input" restrict-scroll type="number" ng-model="channel.modulation.detune" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Channels ends-->
    <div class="text-center">
        <button class="btn btn-app-color" ng-click="addNewChannel()">Add an empty channel</button>
    </div>

    <div>
        <hr />
        <div class="row" style="margin: 0px;">
            <div class="col-6" style="border-right: 1px #e3dddd solid;padding-left: 0px;">
                <h4>Save your efforts?</h4>
                <label>Name it: <input type="text" ng-model="currentProject.name" /></label>
                &nbsp;
                <button class="btn btn-sm btn-app-color" ng-click="updateProject()">Save or Update</button>
                <div style="font-size: 12px;">
                    * If the Project name already exists, it will get updated!
                </div>
            </div>
            <div class="col-6">
                <h4>Load pre-saved configuration</h4>
                <select class="" ng-model="selectedProjectName">
                    <option value="">Pre-saved configuration</option>
                    <option ng-repeat="proj in savedProjects">{{proj}}</option>
                </select>
                &nbsp;
                <button class="btn btn-sm btn-app-color" ng-click="loadConfiguration(selectedProjectName)">Load
                    Configuration</button>
                <div style="font-size: 12px;">
                    * Will replace the current configuration with the incoming!
                </div>
            </div>
        </div>

        <hr />
        <h4>Make it a track?<span style="font-size: 12px;"> (Will update the current track with extracted audio)</span></h4>
        <label>From <input class="time-input" restrict-scroll type="number" min="0" ng-model="recording.start" /> sec</label>
        to
        <label><input class="time-input" restrict-scroll type="number" min="0" ng-model="recording.end" /> sec</label>
        <div>
            <button class="btn btn-sm btn-app-color" ng-click="record()" ng-disabled="controlFlags.recording">Play &
                Extract & Update</button>
            <span ng-if="controlFlags.recording">&nbsp;
                Recording Time {{SynthV2Factory.currentContext.currentTime | number: 1}}</span>
        </div>
        <div>
            <br />
            <h6>Extracted Audio</h6>
            <audio controls=""></audio>
        </div>
    </div>
</div>