<div id="editor" ng-controller="EditorCtrl">
    <h3 class="text-center">Editor</h3>
    <div class="jumbotron" style="max-width: 90%;margin: auto;">
        <div id="editor-panel">
            <div class="tracks">
                <div>
                    XX
                </div>
            </div>
            <div class="timeline">
                <div class="scale">

                </div>
            </div>
        </div>
    </div>
    <hr />
    <div>
        <div>
            <select ng-model="inputTrackNote">
                <option ng-repeat="nt in allNotes" value="{{nt}}">{{nt}}</option>
            </select>
            <button ng-click="addTrack(inputTrackNote);inputTrackNote=null;">Add</button>
        </div>
        Elapsed Time - {{currentPlayer.timer}}
        <button ng-click="play()" class="btn btn-primary">Play</button>
        <button ng-click="stop()" class="btn btn-primary">Stop Playback</button>
    </div>
    <div>
        JSON configuration
        <hr />
        <pre>{{configuration | json}}</pre>
    </div>
</div>