<style>
    span.project-state {
        margin: 2px;
        border-radius: 8px;
        font-size: 14px;
        vertical-align: middle;
    }

    span.project-state.ready {
        background-color: green;
    }

    span.project-state.not-ready {
        background-color: red;
    }

    #btn-save {
        position: absolute;
        top: 5px;
        right: 18px;
    }

    #btn-load {
        border-radius: 0 5px 5px 0
    }

    .channel-container {
        margin-top: 60px !important;
    }
    .scale-bar{
        position: absolute;
        right: 10px;
        top: 10px;
    }
</style>
<!--
    TODO: Make the play controls work
    TODO: Dynamic width calculation + on drag recalculate
    TODO: Auto save events
-->

<div id="editor" ng-controller="MainLineCtrl">
    <div class="project-header text-center">
        <div style="position: relative;">
            <span>{{currentProject.projectName}} - Main Line</span>
            <span class="project-state" ng-class="controlFlags.ready ? 'ready' : 'not-ready'" title="{{ controlFlags.ready ? 'Ready' : 'Not Ready'}}">&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <button id="btn-save" class="btn btn-sm btn-success" ng-click="retrySaving()">Save</button>
            <div class="player-control">
                <span>
                    <i class="fa fa-play-circle" ng-class="{'active': controlFlags.playerStatus === 'START'}" title="Play"
                        ng-click="play()"></i>
                    &nbsp;
                    <i class="fa fa-pause-circle" ng-class="{'active': controlFlags.playerStatus === 'PAUSE'}" ng-if="controlFlags.playerStatus === 'START'"
                        ng-click="pause()" title="Pause"></i>
                    <i class="fa fa-pause-circle" ng-class="{'active': controlFlags.playerStatus === 'PAUSE'}" ng-if="controlFlags.playerStatus === 'PAUSE'"
                        ng-click="resume()" title="Resume"></i>
                    <span ng-if="controlFlags.playerStatus === 'START' || controlFlags.playerStatus === 'PAUSE'">&nbsp;</span>
                    <i class="fa fa-stop-circle" ng-class="{'active': controlFlags.playerStatus === 'STOP' || controlFlags.playerStatus === 'NA'}"
                        title="Stop" ng-click="stop()"></i>
                    &nbsp;
                    <i class="fa fa-video-camera" ng-class="{'active': controlFlags.startVisualization}" title="Start Visualization"
                        ng-click="toggleVisualization();"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="jumbotron channel-container" style="margin: auto;background-color: #818481;position: relative;">
        <div class="scale-bar">
            <i class="fa fa-arrows-h" style="color: #fff;font-size: 26px;" title="scale tracks"></i>&nbsp;
            <input type="range" min="2" max="10" step="1" ng-model="configuration.scale" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }"
                ng-change="updateScale()" style="cursor: pointer" />
        </div>
        <div id="editor-panel">
            <div class="tracks">
                <div>
                    Tracks / Seconds
                </div>
            </div>
            <div class="timeline">
                <div class="scale">

                </div>
            </div>
        </div>
    </div>

    <!-- animation -->
    <div ng-if="!!controlFlags.startVisualization" ng-init="startAnim()" class="visualization-area">
        <div ng-show="controlFlags.showAnim" id="three-container"></div>
        <div ng-show="controlFlags.showVisualization" id="anim">
            <!-- <button onclick="toggleMoveCamera()">Toggle move camera</button> -->
            <!-- <audio id="sound"></audio> -->
            <!-- <input ng-init="startAnim()" type="file" id="audioInput" /> -->
        </div>
    </div>

    <div ng-show="!controlFlags.startVisualization">
        <!-- <div class="text-center" style="margin-top:10px;">
            <button class="btn btn-success" ng-click="play()">Play</button>
            <button class="btn btn-success" ng-click="pause()">Pause</button>
            <button class="btn btn-success" ng-click="resume()">Resume</button>
            <button class="btn btn-success" ng-click="stop()">Stop</button>
        </div> -->
        <hr />
        <div>
            <h5>Load a track from library</h5>
            <div class="input-group col-5" style="padding: 0px;">
                <select class="form-control" ng-model="selectedTrack">
                    <option value="">-Select-</option>
                    <option ng-repeat="proj in savedProjects">{{proj}}</option>
                </select>
                <span id="btn-load" class="btn btn-app-color input-group-addon" ng-click="loadSelectedTrack(selectedTrack);">Load</span>
            </div>
            <div class="col-12" style="font-size: 12px;">
                <span>Need a new track or better, synthesize one?
                    <a class="text-info" ui-sref="synthesizer" style="font-size: 13px;cursor: pointer;">Go to
                        synthesizer</a>
                </span>
            </div>
            <h5>Or upload an audio file</h5>
            <div>
                <div class="btn btn-app-color" ngf-select="parseFile($file);" ng-model="file" name="file" ngf-pattern="'audio/*'"
                    ngf-accept="'audio/*'" ngf-max-size="10MB">Upload</div>
            </div>
        </div>
        <hr />
    </div>
    <!-- <div>
        JSON configuration
        <pre>{{configuration | json}}</pre>
    </div> -->
</div>