<style>
.project-header {
    background-color: #343a40;
    border-radius: 8px;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 26px;
    padding: 4px;
}

span.project-state {
    margin: 2px;
    border-radius: 8px;
    font-size: 14px;
    vertical-align: middle;
}

span.project-state.ready {
    background-color: green;
}

span.project-state.not-ready {
    background-color: red;
}

#btn-save {
    position: absolute;
    top: 28px;
    right: 18px;
}

#btn-load {
    border-radius: 0 5px 5px 0
}
</style>

<div id="editor" ng-controller="MainLineCtrl">
    <div class="project-header text-center">
        {{currentProject.projectName}} - Main Line
        <span class="project-state" ng-class="controlFlags.ready ? 'ready' : 'not-ready'" title="{{ controlFlags.ready ? 'Ready' : 'Not Ready'}}">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <button id="btn-save" class="btn btn-sm btn-success" ng-click="retrySaving()">Save</button>
    </div>
    <div class="jumbotron" style="margin: auto;background-color: #818481;">
        <div id="editor-panel">
            <div class="tracks">
                <div>
                    Tracks / Seconds
                </div>
            </div>
            <div class="timeline">
                <div class="scale">

                </div>
            </div>
        </div>
    </div>
    <div class="text-center" style="margin-top:10px;">
        <button class="btn btn-success" ng-click="play()">Play</button>
        <button class="btn btn-success" ng-click="pause()">Pause</button>
        <button class="btn btn-success" ng-click="resume()">Resume</button>
        <button class="btn btn-success" ng-click="stop()">Stop</button>
    </div>
    <hr />
    <div>
        <h4>Load a track from library</h4>
        <div class="input-group col-5" style="padding: 0px;">
            <select class="form-control" ng-model="selectedTrack">
                <option value="">-Select-</option>
                <option ng-repeat="proj in savedProjects">{{proj}}</option>
            </select>
            <span id="btn-load" class="btn btn-app-color input-group-addon" ng-click="loadSelectedTrack(selectedTrack);">Load</span>
        </div>
        <div class="col-12" style="font-size: 12px;">
            <span>Need a new track or better, synthesize one?
                <a class="text-info" ng-click="openSynthesizer();" style="font-size: 13px;cursor: pointer;">Go to
                    synthesizer</a>
            </span>
        </div>
    </div>
    <div class="track-loader" ng-if="controlFlags.trackLoader">
        <div style="position: relative;">
            <div style="position: absolute; top:0px;z-index: 1;">
                <a style="font-weight: 600;cursor: pointer;" class="text-primary" ng-click="closeSynthesizer()">&lt; Go
                    back to tracks</a>
            </div>
            <div ng-include="'synthesizer/main.html'"></div>
        </div>
    </div>
    <hr />
    <div>
        JSON configuration
        <pre>{{configuration | json}}</pre>
    </div>
</div>