<div id="editor" ng-controller="MainLineCtrl">
    <h3 class="text-center" style="margin-top: 20px;">{{currentProject.projectName}} - Main Line</h3>
    <h5 ng-if="controlFlags.ready" class="text-center text-success">Ready</h5>
    <h5 ng-if="!controlFlags.ready" class="text-center text-danger">Not Ready</h5>
    <h6 class="text-center"><a style="cursor: pointer;" ng-click="retrySaving()">Save</a></h6>
    <div class="jumbotron" style="margin: auto;background-color: #818481;">
        <div id="editor-panel">
            <div class="tracks">
                <div>
                    Tracks / Seconds
                </div>
            </div>
            <div class="timeline">
                <div class="scale">

                </div>
            </div>
        </div>
    </div>
    <div class="text-center" style="margin-top:10px;">
        <button class="btn btn-success" ng-click="play()">Play</button>
        <button class="btn btn-success" ng-click="pause()">Pause</button>
        <button class="btn btn-success" ng-click="resume()">Resume</button>
        <button class="btn btn-success" ng-click="stop()">Stop</button>
    </div>
    <hr />
    <div>
        <h4>Load a track from library</h4>
        <div class="input-group col-5" style="padding: 0px;">
            <select class="form-control" ng-model="selectedTrack">
                <option value="">-Select-</option>
                <option ng-repeat="proj in savedProjects">{{proj}}</option>
            </select>
            <span class="btn btn-app-color input-group-addon" ng-click="loadSelectedTrack(selectedTrack);">Load</span>
        </div>
        <div class="col-12" style="font-size: 12px;">
            <span>Need a new track or better, synthesize one?
                <a class="text-info" ng-click="openSynthesizer();" style="font-size: 13px;cursor: pointer;">Go to
                    synthesizer</a>
            </span>
        </div>
    </div>
    <div class="track-loader" ng-if="controlFlags.trackLoader">
        <div style="position: relative;">
            <div style="position: absolute; top:0px;z-index: 1;">
                <a style="font-weight: 600;cursor: pointer;" class="text-primary" ng-click="closeSynthesizer()">&lt; Go
                    back to tracks</a>
            </div>
            <div ng-include="'synthesizer/main.html'"></div>
        </div>
    </div>
    <hr />
    <div>
        JSON configuration
        <pre>{{configuration | json}}</pre>
    </div>
</div>