/* .rs-container {
    height: 40px !important;
    width: 40px !important;
} */

.rs-handle { border-top: 5px solid transparent;
    border-right: 8px solid black;
    border-bottom: 5px solid transparent; }

.container {
    margin: 0px !important;
    padding: 0px !important;
    background-image: url('../images/knob_Base.png');
    background-size: 100%;
    background-repeat: no-repeat;
    /* height: 40px !important;
    width: 40px !important; */
    margin-left: auto !important;
    margin-right: auto !important;
}

.knob-center .col-2{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.knob-center .knob-label{
    padding-top: 10px;
}
    /* radius, width in js for control width, radius*/
    /* container for image size */
    /* rs handle for pointer size */